<div id="div-form">
    <h2>Cadastro de Corrida</h2>
   <form id="form-corrida">
       <label for="descricao">Descrição da Corrida</label>
       <input type="text" name="descricao"  id="descricao" class="input01" required maxlength="100" placeholder="Ex: 5ª Maratona da Cidade">
       <label for="distancias">Distância Disponíveis</label>
       <input type="checkbox"> 5km
       <input type="checkbox"> 10km
       <input type="checkbox"> 25km
       <label for="data">Data da Corrida</label>
       <input type="date" name="data"  id="data" class="input02" required maxlength="8">
       
    <div id="div-btns">
        <button type="submit" id="btnAdd">Cadastro da Corrida</button>

    </div>
    
   </form>
</div>
