#div-home{
    width: 1000px;
    height: 650px;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 1px solid var(--cor-primaria);
}
@font-face {
    font-family: 'Urban Gear';
    src: url(../../../fontes/Urban\ Gear.ttf) format(truetype);
}

p{
    color: var(--botao02);
    font-size: 100px;
    margin: 0px ;
    letter-spacing: 5px;
    font-family: 'Urban Gear', sans-serif;
}

#titulo-home{
    border: 1px solid var(--cor-primaria);;
    font-size: 100px;
    padding: 10px 25px;
    color: var(--cor-primaria);
    font-weight: bold;
    border-radius: 1000px;
    font-family: 'Urban Gear', sans-serif;
}

